.gaming-thumbnail-url {
  width: 200px;
}
.gaming-list {
  list-style-type: none;
  margin: 14px;
  margin-bottom: 20px;
}
.gaming-card-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
